USE [master]
GO
/****** Object:  Database [EnglishLearningWebsite]    Script Date: 2025/8/28 上午 01:42:29 ******/
CREATE DATABASE [EnglishLearningWebsite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishLearningWebsite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EnglishLearningWebsite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnglishLearningWebsite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EnglishLearningWebsite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishLearningWebsite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishLearningWebsite]
GO
USE [EnglishLearningWebsite]
GO
/****** Object:  Table [dbo].[AI_GeneratedQuestions]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_GeneratedQuestions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](255) NOT NULL,
	[OptionB] [nvarchar](255) NOT NULL,
	[OptionC] [nvarchar](255) NOT NULL,
	[OptionD] [nvarchar](255) NOT NULL,
	[CorrectAnswer] [char](1) NOT NULL,
	[Difficulty] [nvarchar](50) NOT NULL,
	[Topic] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[BatchID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_UserAnswers]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_UserAnswers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[SelectedAnswer] [char](1) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[AnsweredAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ancient_scrolls]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ancient_scrolls](
	[scroll_id] [int] IDENTITY(1,1) NOT NULL,
	[altar_id] [int] NOT NULL,
	[word] [nvarchar](100) NOT NULL,
	[pronunciation] [nvarchar](100) NULL,
	[part_of_speech] [nvarchar](50) NOT NULL,
	[meaning] [nvarchar](1000) NOT NULL,
	[example_sentence] [nvarchar](500) NULL,
	[example_translation] [nvarchar](500) NULL,
	[past_tense] [nvarchar](50) NULL,
	[past_participle] [nvarchar](50) NULL,
	[word_audio_url] [nvarchar](255) NULL,
	[example_audio_url] [nvarchar](255) NULL,
	[priority_level] [int] NULL,
	[synonym_words] [nvarchar](1000) NULL,
	[antonym_words] [nvarchar](1000) NULL,
	[related_info] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[scroll_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[magic_altar]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[magic_altar](
	[altar_id] [int] IDENTITY(1,1) NOT NULL,
	[forest_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[altar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[magic_forest]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[magic_forest](
	[forest_id] [int] NOT NULL,
	[forest_name] [nvarchar](100) NOT NULL,
	[forest_name_zh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[forest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_altar_progress]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_altar_progress](
	[progress_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[altar_id] [int] NOT NULL,
	[learning_status] [int] NULL,
	[last_review_time] [datetime] NULL,
	[next_review_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[progress_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_favorite_words]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_favorite_words](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[scroll_id] [int] NOT NULL,
	[added_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_word_errors]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_word_errors](
	[error_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[scroll_id] [int] NOT NULL,
	[error_stage] [varchar](20) NOT NULL,
	[error_count] [int] NULL,
	[last_wrong_time] [datetime] NULL,
	[memo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[error_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_user_scroll_stage] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[scroll_id] ASC,
	[error_stage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserResources]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserResources](
	[resource_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[energy] [int] NOT NULL,
	[diamonds] [int] NOT NULL,
	[last_claimed] [datetime] NOT NULL,
	[diamonds_ai_test] [int] NULL,
	[diamonds_vocabulary_game] [int] NULL,
	[diamonds_listening_test] [int] NULL,
	[diamonds_matching_game] [int] NULL,
	[diamonds_total] [int] NULL,
	[last_awarded_batch_id] [nvarchar](64) NULL,
	[last_energy_deduction_batch_id] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[resource_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/8/28 上午 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[id_email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phoneNumber] [varchar](20) NOT NULL,
	[gender] [varchar](10) NULL,
	[nationality] [varchar](20) NULL,
	[birthday] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AI_GeneratedQuestions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AI_UserAnswers] ADD  DEFAULT (getdate()) FOR [AnsweredAt]
GO
ALTER TABLE [dbo].[magic_forest] ADD  DEFAULT ('') FOR [forest_name_zh]
GO
ALTER TABLE [dbo].[user_altar_progress] ADD  DEFAULT ((0)) FOR [learning_status]
GO
ALTER TABLE [dbo].[user_favorite_words] ADD  DEFAULT (getdate()) FOR [added_time]
GO
ALTER TABLE [dbo].[user_word_errors] ADD  DEFAULT ((1)) FOR [error_count]
GO
ALTER TABLE [dbo].[user_word_errors] ADD  DEFAULT (getdate()) FOR [last_wrong_time]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((50)) FOR [energy]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT (getdate()) FOR [last_claimed]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds_ai_test]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds_vocabulary_game]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds_listening_test]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds_matching_game]
GO
ALTER TABLE [dbo].[UserResources] ADD  DEFAULT ((0)) FOR [diamonds_total]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AI_UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AI_UserAnswers_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[AI_GeneratedQuestions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AI_UserAnswers] CHECK CONSTRAINT [FK_AI_UserAnswers_Questions]
GO
ALTER TABLE [dbo].[AI_UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AI_UserAnswers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AI_UserAnswers] CHECK CONSTRAINT [FK_AI_UserAnswers_Users]
GO
ALTER TABLE [dbo].[ancient_scrolls]  WITH CHECK ADD  CONSTRAINT [FK_ancient_scrolls_altar] FOREIGN KEY([altar_id])
REFERENCES [dbo].[magic_altar] ([altar_id])
GO
ALTER TABLE [dbo].[ancient_scrolls] CHECK CONSTRAINT [FK_ancient_scrolls_altar]
GO
ALTER TABLE [dbo].[magic_altar]  WITH CHECK ADD FOREIGN KEY([forest_id])
REFERENCES [dbo].[magic_forest] ([forest_id])
GO
ALTER TABLE [dbo].[user_altar_progress]  WITH CHECK ADD FOREIGN KEY([altar_id])
REFERENCES [dbo].[magic_altar] ([altar_id])
GO
ALTER TABLE [dbo].[user_altar_progress]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[user_favorite_words]  WITH CHECK ADD  CONSTRAINT [FK_user_favorite_words_scrolls] FOREIGN KEY([scroll_id])
REFERENCES [dbo].[ancient_scrolls] ([scroll_id])
GO
ALTER TABLE [dbo].[user_favorite_words] CHECK CONSTRAINT [FK_user_favorite_words_scrolls]
GO
ALTER TABLE [dbo].[user_favorite_words]  WITH CHECK ADD  CONSTRAINT [FK_user_favorite_words_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[user_favorite_words] CHECK CONSTRAINT [FK_user_favorite_words_users]
GO
ALTER TABLE [dbo].[user_word_errors]  WITH CHECK ADD FOREIGN KEY([scroll_id])
REFERENCES [dbo].[ancient_scrolls] ([scroll_id])
GO
ALTER TABLE [dbo].[user_word_errors]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserResources]  WITH CHECK ADD  CONSTRAINT [FK_UserResources_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserResources] CHECK CONSTRAINT [FK_UserResources_Users]
GO
ALTER TABLE [dbo].[ancient_scrolls]  WITH CHECK ADD  CONSTRAINT [CK_priority_level_range] CHECK  (([priority_level]>=(1) AND [priority_level]<=(5)))
GO
ALTER TABLE [dbo].[ancient_scrolls] CHECK CONSTRAINT [CK_priority_level_range]
GO
ALTER TABLE [dbo].[user_altar_progress]  WITH CHECK ADD  CONSTRAINT [CK_user_altar_progress_learning_status] CHECK  (([learning_status]>=(0) AND [learning_status]<=(7)))
GO
ALTER TABLE [dbo].[user_altar_progress] CHECK CONSTRAINT [CK_user_altar_progress_learning_status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [chk_password_strength] CHECK  ((len([password])>=(8) AND [password] like '%[A-Z]%' AND [password] like '%[a-z]%' AND [password] like '%[0-9]%' AND [password] like '%[!@#$%^&*()]%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [chk_password_strength]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [chk_username_format] CHECK  ((NOT [username] like '%[^a-zA-Z0-9]%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [chk_username_format]
GO
USE [master]
GO
